/* --------------- OVERALL STYLE ----------------------------------------------------------------------------------- */

body {
    background-color: white;
    color: black;
}





/* --------------- LAYOUT ----------------------------------------------------------------------------------- */

.background-image {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center 35%;
}

.main-header {
    text-align: center;
    margin-top: 120px;
    color: rgb(202, 250, 215);
    z-index: 1; /* Stellt sicher, dass der Text über dem Bild liegt */
    position: relative; /* Damit der z-index wirkt */
    font-family: sans-serif; 
    font-weight: bold;
}

.layout-title {
    color: rgb(202, 250, 215); 
    font-size: 67px; 
    margin-bottom: 5px; 
    line-height: 1;
}

.layout-subtitle {
    color: rgb(202, 250, 215); 
    font-size: 25px; 
    margin-top: 0px; 
    line-height: 1;
}

@media (max-width: 768px) {
    .layout-title {
      font-size: 36px; /* Verkleinere die Hauptschrift bei Handygröße */
    }

    .layout-subtitle {
      font-size: 18px; /* Verkleinere den Untertitel */
    }
  }

.container {
    background-color: white;
    margin-top: 180px;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
}





/* --------------- NAVBAR ----------------------------------------------------------------------------------- */

.nav-link {
    margin-right: 100px;
}

#navbarNav {
    margin-right: 1%;
}




/* --------------- FOOTER ----------------------------------------------------------------------------------- */

.footer {
    background-color: rgb(44, 44, 44);
    color: rgb(160, 255, 185);
    width: 100%;
    height: 300px;   
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: rgb(160, 255, 185);
}

/* --------------- BLOGS ----------------------------------------------------------------------------------- */

.blogs-box:hover {
    background-color: rgb(204, 215, 194); /* Light gray background on hover */
}

.blogs-box {
    margin-bottom: 20px;
    border: 1px solid rgb(151, 151, 151);
    background-color: rgb(225, 235, 217);
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-image {
    width: 100%;
    height: 350px;
    border-radius: 5px 0px 0px 5px;
    object-fit: cover; /* Zuschneiden des Bildes */
}

.blogs-right-box {
    padding: 10px;
}

.blogs-text-box {
    height: 290px;
}

.card-header {
    background-color: rgb(225, 235, 217);
}

.custom-tabs .nav-link {
    border: 1px solid rgb(151, 151, 151);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px 16px; 
    color: rgb(81, 87, 94); 
    background-color: rgb(255, 255, 255);
}

.custom-tabs .nav-link.active {
    background-color: rgb(53, 58, 64); 
    color: white; 
    border-color: rgb(53, 58, 64);
}

.custom-tabs .nav-link:hover {
    background-color: rgb(204, 215, 194); 
    color: rgb(52, 58, 64); 
    border-color: rgb(73, 80, 87);
}

/* --------------- BLOG ----------------------------------------------------------------------------------- */

.blog-content {
    text-align: justify;
}

.blog-header {
    font-weight: bold;
}

.blog-image {
    width: 300px;
    height: 100%;
    object-fit: cover; /* Zuschneiden des Bildes */
}

/* --------------- NEUER BLOG HINZUFUEGEN ----------------------------------------------------------------------------------- */

.form-control {
    background-color: rgb(225, 235, 217);
    border-color: rgb(151, 151, 151);
}

.form-control:hover {
    background-color: rgb(204, 215, 194); /* Light gray background on hover */
}

.form-check-input {
    background-color: rgb(225, 235, 217);
    border-color: rgb(151, 151, 151);
}

.form-check-input:hover {
    background-color: rgb(204, 215, 194); /* Light gray background on hover */
}

.btn-disabled {
    opacity: 0.5;
}

.btn-disabled:hover {
    opacity: 0.5;
    background-color: white;
    color: black;
}


/* --------------- LAENDER / REISEARTEN ----------------------------------------------------------------------------------- */

.countries-card-text {
    margin-left: 15px;
}

.card:hover {
    background-color: rgb(204, 215, 194); /* Light gray background on hover */
}

.card {
    border: 1px solid rgb(151, 151, 151);
    background-color: rgb(225, 235, 217);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.reiseart-card-main {
    margin: 15px;
}


/* --------------- ABOUT ----------------------------------------------------------------------------------- */

.about-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(225, 235, 217); 
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.about-image {
    width: 100%; 
    height: 200px; 
    border-radius: 5px; 
    object-fit: cover; 
    margin-bottom: 20px;
    object-position: center 53%
}