/* --------------- OVERALL STYLE ----------------------------------------------------------------------------------- */

body {
    background-color: white;
    color: black;
}





/* --------------- LAYOUT ----------------------------------------------------------------------------------- */

.background-image {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center 35%;
}

.main-title {
    text-align: center;
    margin-top: 100px;
    color: rgb(202, 250, 215);
    z-index: 1; /* Stellt sicher, dass der Text über dem Bild liegt */
    position: relative; /* Damit der z-index wirkt */
    font-family: sans-serif; 
    font-weight: bold;
}

.container {
    background-color: white;
    margin-top: 150px;
    padding: 20px;
}





/* --------------- NAVBAR ----------------------------------------------------------------------------------- */

.nav-link {
    margin-right: 100px;
}

#navbarNav {
    margin-right: 9%;
}












/* --------------- FOOTER ----------------------------------------------------------------------------------- */

.footer {
    background-color: rgb(44, 44, 44);
    color: rgb(160, 255, 185);
    width: 100%;
    height: 300px;   
}

/* --------------- BLOGS ----------------------------------------------------------------------------------- */

.blog-box {
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: rgb(225, 235, 217);
    padding-right: 10px;
}

.title-image {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Zuschneiden des Bildes */
}

.blog-text {
    padding: 10px;
}
